<p id="notice"><%= notice %></p>
<p style="color: red;"><%= @error ? @error : '' %></p>
<h1>Tasks</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Status</th>
      <th>Deadline</th>
      <th>Priority</th>
      <th>Tag</th>
      <th>Assign</th>
      <th>Deleted_at</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @result.each do |task| %>
      <tr>
        <td><%= task.name %></td>
        <td><%= task.description %></td>
        <td><%= task.status %></td>
        <td><%= task.deadline %></td>
        <td><%= task.priority %></td>
        <td><%= task.tag %></td>
        <td><%= task.assign %></td>
        <td><%= task.deleted_at %></td>
        <td><%= link_to 'Edit', edit_task_path(task) %></td>
        <td><%= link_to 'Show', task %></td>
        <td><%= link_to 'Destroy', task_path(task), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'Set Deadline', set_deadline_path(task) %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= current_user.name %>
<%= I18n.t 'hello' %>
