<p id="notice"><%= notice %></p>
<p style="color: red;"><%= @error ? @error : '' %></p>

<h1>Tasks</h1>
<%= form_with url: "/search", class: "navbar-form navbar-left", method: :get, local: true do |form| %>
        
  <div class="form-group">
    <%= form.text_field :key, :placeholder => "Search" , class: "form-control", value: params[:key] ? params[:key] : '' %>
  </div>
  <div class="form-group">
    <%= form.select :status, Task::STATUS_HASH.map{|h| [h[1], h[0]]} %>
  </div>
  <%= form.submit "Search", class: "btn btn-default", name: nil %>
<% end %>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Status</th>
      <th>Deadline</th>
      <th>Priority</th>
      <th>Tag</th>
      <th>Assign</th>
      <th colspan="4">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.name %></td>
        <td><%= task.description %></td>
        <td><%= Task::STATUS_HASH[task.status.to_s] %></td>
        <td><%= task.deadline %></td>
        <td><%= Task::PRIORITY_HASH[task.priority.to_s] %></td>
        <td><%= get_tag_name(task.tag) %></td>
        <td><%= task.user.name %></td>
        <td><%= link_to 'Edit', edit_task_path(task) %></td>
        <td><%= link_to 'Show', task %></td>
        <td><%= link_to 'Destroy', task_path(task), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'Set Deadline', set_deadline_path(task) %></td>

      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @tasks %>
<br>
<%= link_to 'New task', new_task_path %>
<%= I18n.t 'hello' %>
